

<div class="row">
    <div class="col">

        <h3>Aplicación de ejemplo del curso de Angular.</h3>
        <br>
        <ul class="list-group">
            <li class="list-group-item">Formularios Reactivos</li>
            <li class="list-group-item">Peticiones HTTP</li>
            <li class="list-group-item">Atenticación basada en token</li>
            <li class="list-group-item">Guards</li>
            <li class="list-group-item">Interceptores</li>
            <li class="list-group-item">Navegación</li>
        </ul>

    </div>
</div>