

<h2>Reforzando Angular</h2>
<hr>

<!-- Home -->
<div class="row">

  <div class="col-3">
    <h3>Home</h3>

      <ul class="list-group">
        <li class="list-group-item">Home</li>
      </ul>

      <hr>
      <h3>Autenticación</h3>
      <hr>
        <ul class="list-group">
          <li class="list-group-item"
            routerLink="auth/login"
            routerLinkActive="active"
            >Login</li>

          <li class="list-group-item"
            routerLink="auth/register"
            routerLinkActive="active"
            >Registro</li>
        </ul>
      
    
      <hr>

      <h3>Productos</h3>
      <hr>
        <ul class="list-group">
          <li class="list-group-item">Productos</li>
        </ul>

  </div>

  <div class="col">
    <router-outlet></router-outlet>
  </div>
  
</div>


