<h2>Validaciones Reactivas</h2>
<hr>
<div class="row">
    <div class="col">

        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="name"
                           placeholder="Nombre del usuario">

                    <span *ngIf="isValidField('name')"  class="form-text text-danger">
                        Debe de ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           formControlName="email"
                           placeholder="Email del usuario">

                    <span *ngIf="isValidField('email')"  class="form-text text-danger">
                       El nombre no puede estar vacío
                    </span>
                </div>
            </div>


            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="password"
                           placeholder="Password de su cuenta">

                    <span *ngIf="isValidField('password')"  class="form-text text-danger">
                         La contraseña debe de ser mayor de 6 caracteres.
                    </span>
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="password2"
                           placeholder="Confirmar la contraseña">

                    <span *ngIf="isValidField('password2')"  class="form-text text-danger">
                         Las contraseñas deben de ser iguales
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">



                    <button 
                        class="btn btn-primary btn-lg float-end" 
                        [disabled]="enviandoFormulario"
                        type="submit">
                            <span *ngIf="enviandoFormulario" 
                                class="spinner-border spinner-border-sm" 
                                role="status" aria-hidden="true"></span>
                            Crear
                    </button>


                </div>
            </div>




            <div *ngIf="mensajeError" class="row">
                <div class="col mt-3 mb-3">

                    <shared-alert [mensaje]="mensajeError">
                    </shared-alert>

                </div>
            </div>



        </form>
    </div>
</div>




